# ---- Django / Python ----
**/__pycache__/
*.py[cod]
*.sqlite3
**/db.sqlite3
db.sqlite3-journal

# ---- Local env / secrets ----
.env
.env.*

# ---- Virtualenv ----
venv/
.venv/

# ---- Django static/media (optional; keep if you generate locally) ----
staticfiles/
media/

# ---- OS / Editor ----
.DS_Store
.idea/

FinanceManager/db.sqlite3
